appdirs==1.4.4
asn1crypto==1.4.0
astroid==2.5
attrs==21.2.0
Babel==2.6.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
bobtemplates.odoo==1.4.0
cached-property==1.5.2
certifi==2021.5.30
cffi==1.14.6
chardet==3.0.4
click==8.0.1
cryptography==3.3.2
cssselect==1.1.0
decorator==4.3.0
defusedxml==0.7.1
docutils==0.16
ebaysdk==2.1.5
eight==1.0.1
endesive==2.0.1
erpbrasil.assinatura==1.2.0
erpbrasil.base==2.1.0
erpbrasil.edoc==2.2.1
erpbrasil.edoc.pdf==1.0.1
erpbrasil.transmissao==1.0.0
-e git://github.com/erpbrasil/febraban-python.git@79812f5b4eae5aa8a2a0dd399f7d8c945eb05572#egg=febraban
feedparser==5.2.1
freezegun==0.3.11
future==0.18.2
Genshi==0.7.5
gevent==1.5.0
greenlet==0.4.15
html2text==2018.1.9
idna==2.6
importlib-metadata==4.6.4
isodate==0.6.0
isort==5.9.3
Jinja2==2.10.1
jplephem==2.16
lazy-object-proxy==1.6.0
libsass==0.17.0
lunardate==0.2.0
lxml==4.6.3
Mako==1.0.7
MarkupSafe==1.1.0
mccabe==0.6.1
mr.bob==0.1.2
multidict==5.1.0
-e git+https://github.com/akretion/nfelib.git@dec5401d2a78e5b15237569d483d8dece82edf75#egg=nfelib
nfselib.ginfes==0.2.0
nfselib.issnet==0.2.0
nfselib.paulistana==0.2.0
num2words==0.5.4
numpy==1.21.2
odoo-test-helper==1.1.0
ofxparse==0.19
-e git+https://github.com/OCA/openupgradelib.git@ed01555b8ae20f66b3af178c8ecaf6edd110ce75#egg=openupgradelib
oscrypto==1.2.1
paramiko==2.7.2
passlib==1.7.1
pbr==5.6.0
Pillow==5.4.1
polib==1.1.0
psutil==5.6.6
psycopg2==2.7.7
py3o.template==0.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyCalverter==1.6.1
pycep-correios==5.0.0
pycparser==2.20
pydot==1.4.1
Pygments==2.6.1
pyjon.utils==0.7
PyKCS11==1.5.10
pylint==2.6.0
pylint-odoo==3.8.0
pylint-plugin-utils==0.6
pyluach==1.3.0
PyNaCl==1.4.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyserial==3.4
python-dateutil==2.7.3
python-ldap==3.1.0
python-stdnum==1.8
pytz==2019.1
pyusb==1.0.2
PyYAML==5.4.1
qrcode==6.1
reportlab==3.5.13
requests==2.21.0
requests-toolbelt==0.9.1
restructuredtext-lint==1.3.1
rfc3986==1.5.0
sgp4==2.20
sh==1.14.2
signxml==2.8.1
six==1.16.0
skyfield==1.39
skyfield-data==3.0.0
soupsieve==2.2.1
swing==0.0.4
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
urllib3==1.24.3
vcrpy==4.1.1
vobject==0.9.6.1
Werkzeug==0.16.1
whichcraft==0.6.1
workalendar==7.1.1
wrapt==1.12.1
xlrd==1.1.0
XlsxWriter==1.1.2
xlwt==1.3.0
xmldiff==2.4
xmlsec==1.3.8
yarl==1.6.3
zeep==3.2.0
zipp==3.5.0
